body {
    background-color: #f4f4f4;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
}

.item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.item.completed {
    text-decoration: line-through;
    color: #777;
}

.toggles {
    color: #333;
}

.name {
    flex: 1;
    padding-top: 3px;
    font-size: 16px;
    color: #333;
}

.creation-time {
    padding: 10px;
    color: #777;
    font-size: 14px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}
